<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.login">

    <!-- Internet permission to fetch data from XAMPP -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login">

        <!-- Login Activity as Launcher -->
        <activity android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Register Activity -->
        <activity android:name=".RegisterActivity"
            android:exported="true"
            android:parentActivityName=".LoginActivity"/>

        <!-- Main Activity (After Successful Login) -->
        <activity android:name=".MainActivity"
            android:exported="true"/>

        <!-- Class Selection Activity (For Selecting Class) -->
        <activity android:name=".ClassSelectionActivity"
            android:exported="true"/>

        <!-- Content Activity (To Display Dynamic Content) -->
        <activity android:name=".ContentActivity"
            android:exported="true"/>

    </application>
</manifest>
